*,
*::after,
*::before {
    margin: 0px;
    padding: 0px; /* Allows our browser to start clean */
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box; /*padding of the box are no longer added to the total width or height of the box */
}

@media (max-width: 600px) {
    html {
    }

    body {
    }
}
