<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle%></title>
</head>
<body>
    <header>Invalid link entered</header>
    <main>
        <h1 color=red;> Please check the URL you are typing</h1>
    </main>
</body>
</html>